h1 {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 40px;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 3px 3px 20px #d400d4,
  -2px 1px 30px #d400d4;
}

section {
  display: flex;
  justify-content: center;
}

label {
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.container {
  text-align: center;
}

.button-row {
  display: flex;
  width: auto;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.button-style {
  background: #aaaaaa;
  backface-visibility: hidden;
  position: relative;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  white-space: nowrap;
  border-radius: 100px;
  border: 0 solid #444;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  color: #000;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4)
}

.a-style {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-block;
  background: white;
  margin: 20px;
}

.a-style:before, .a-style:after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4);
  transition: 0.5s;
}

.a-style:hover:before {
  inset: -3px;
}

.a-style:hover:after {
  inset: -3px;
  filter: blur(20px);
}

.span-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e1538;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  border: 2px solid #040a29;
  overflow: hidden;
  cursor: pointer;
}

.span-style:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  transform: skew(25deg);
}
