<h1>Simple elevator simulation</h1>

<div class="container">

  <mat-divider></mat-divider>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span12 (click)="clickOnSpan(span12)" id="12">12</span>
          </a>
        </div>
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span13 (click)="clickOnSpan(span13)" id="13">13</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span10 (click)="clickOnSpan(span10)" id="10">10</span>
          </a>
        </div>
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span11 (click)="clickOnSpan(span11)" id="11">11</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span8 (click)="clickOnSpan(span8)" id="8">8</span>
          </a>
        </div>
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span9 (click)="clickOnSpan(span9)" id="9">9</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span6 (click)="clickOnSpan(span6)" id="6">6</span>
          </a>
        </div>
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span7 (click)="clickOnSpan(span7)" id="7">7</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span4 (click)="clickOnSpan(span4)" id="4">4</span>
          </a>
        </div>
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span5 (click)="clickOnSpan(span5)" id="5">5</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span2 (click)="clickOnSpan(span2)" id="2">2</span>
          </a>
        </div>
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span3 (click)="clickOnSpan(span3)" id="3">3</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span0 (click)="clickOnSpan(span0)" id="0">0</span>
          </a>
        </div>
        <div class="button-container">
          <a class="a-style">
            <span class="span-style" #span1 (click)="clickOnSpan(span1)" id="1">1</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>

  <a class="a-style" style="width: 200px; height: 60px">
    <span class="span-style" (click)="clickOnGo()">Go</span>
  </a>

</div>
