<h1>Simple elevator simulation</h1>

<div class="container">

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button  class="button-style" #button12 (click)="clickOnButton(button12)" id="12">
            <label>12</label>
          </button>
        </div>
        <div class="button-container">
          <button  class="button-style" #button13 (click)="clickOnButton(button13)" id="13">
            <label>13</label>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button  class="button-style" #button10 (click)="clickOnButton(button10)" id="10">
            <label>10</label>
          </button>
        </div>
        <div class="button-container">
          <button  class="button-style" #button11 (click)="clickOnButton(button11)" id="11">
            <label>11</label>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button  class="button-style" #button8 (click)="clickOnButton(button8)" id="8">
            <label>8</label>
          </button>
        </div>
        <div class="button-container">
          <button  class="button-style" #button9 (click)="clickOnButton(button9)" id="9">
            <label>9</label>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button  class="button-style" #button6 (click)="clickOnButton(button6)" id="6">
            <label>6</label>
          </button>
        </div>
        <div class="button-container">
          <button  class="button-style" #button7 (click)="clickOnButton(button7)" id="7">
            <label>7</label>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button  class="button-style" #button4 (click)="clickOnButton(button4)" id="4">
            <label>4</label>
          </button>
        </div>
        <div class="button-container">
          <button  class="button-style" #button5 (click)="clickOnButton(button5)" id="5">
            <label>5</label>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button  class="button-style"#button2 (click)="clickOnButton(button2)" id="2">
            <label>2</label>
          </button>
        </div>
        <div class="button-container">
          <button  class="button-style" #button3 (click)="clickOnButton(button3)" id="3">
            <label>3</label>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="button-row">
      <div class="flex-container">
        <div class="button-container">
          <button  class="button-style" #button0 (click)="clickOnButton(button0)" id="0">
            <label>0</label>
          </button>
        </div>
        <div class="button-container">
          <button class="button-style" #button1 (click)="clickOnButton(button1)" id="1">
            <label>1</label>
          </button>
        </div>
      </div>
    </div>
  </section>

  <mat-divider></mat-divider>

  <div>
    <button mat-button (click)="clickOnGo()">GO</button>
  </div>


</div>
